

html {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 80px;
    margin-left: 80px;
    width: 500px;
    font-family: arial;
}

header {
    color: darkgrey;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 40;
}

body {
    background-color: white;
    color: black;
}

a {

}
  

