

html {
    margin-top: 80px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    font-family: arial;
}

header {
    color: darkgrey;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 40;
}

body {
    background-color: white;
    color: black;
}

a {

}
  

